<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>tranqtube</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/video-js.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <script src="{{ url_for('static', filename='jquery/jquery.js') }}"></script>
<script>

var $j = jQuery.noConflict();
// $j is now an alias to the jQuery function; creating the new alias is optional.


</script>
</head>

<body>

<video id="my-video" class="video-js" controls preload="auto" data-setup="{}">
    <source src="{{ video.full_web_path }}" type='video/mp4'>
    <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
</video>


<span id="last_paused">
    {{ video.paused }}
</span>
<br />
<span id="last_left">
    {{ video.last_left }}
</span>

    <script src="{{ url_for('static', filename='dist/video.js') }}"></script>
    <script src="{{ url_for('static', filename='player.js') }}"></script>
</body>
</html>